<!--/currency.erb-->

<!DOCTYPE html>
<html>
  <head>
    <title>Target: Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1>Convert <%= @original_currency %></h1>

<p>Go <a href="/">back</a>.</p>



<ul>
  <% @currencies.each do |x, y| %>
    <li>
      <a href="/<%= @original_currency %>/<%= x %>">
        Convert 1 <%= @original_currency %> to <%= x %>...
      </a>
    </li>
  <% end %>   
</ul>

  </body>
</html>
