

<%= pp @currency.length %>
<%= pp @currency.class %>
<% @currency_keys = @currency.keys %>

<%= pp @currency_keys.class %>
<%= pp @currency_keys %>


<ul>
<% @currency_keys.each do |num| %>
   
 <li> <%= @currency_keys[10] %>  pp @currency_keys[num]</li>
  
<% end %>
</ul>
